/* ============== COMMON STYLES ============== */
html,
body {
  scroll-behavior: smooth;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
p:last-child {
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
a {
  color: currentColor;
  text-decoration: none;
}
button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #434455;
}
/* ============== /COMMON STYLES ============== */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
}
.main-form {
  display: flex;
  gap: 10px;
}
.input-text {
  background: #fff;
  padding-left: 14px;
  padding-top: 2px;
  width: 272px;
  border: 1px solid #f77307;
  outline-offset: 4px;
  outline-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
}
.input-text:focus,
.input-text:hover {
  border: 3px solid #f77307;
}
.btn {
  background: #f77307;
  padding: 8px 16px;
  width: 100px;
  border-color: transparent;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
.btn:hover,
.btn:focus {
  color: #000;
}
.input-text::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #808080;
}
.photo-main-list {
  border: 1px solid #808080;
  border-radius: 0px 0px 7px 7px;
  box-shadow: 0, 4px, 8px, #0000001a;
}
.todo-list {
  margin: 25px auto 15px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}
.photo-main-list {
  max-width: 360px;
  width: 360px;
}
.list-menu {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
}
.title {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.datas {
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.photo {
  width: 360px;
  height: 200px;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .section {
  height: 100vh;
} */
.loader {
  width: 48px;
  height: 48px;
  position: absolute;
  /* left: 45%; */
  display: none;
  /* display: inline-block; */
  position: relative;
  width: 48px;
  height: 48px;
  margin: auto;
  position: relative;
  right: 50%;
  left: 50%;
  top: 0;
  /* left: 0; */
}
.loader:before {
  content: '';
  width: 48px;
  height: 5px;
  background: #000;
  opacity: 0.25;
  position: absolute;
  top: 65px;
  left: 0;
  border-radius: 50%;
  animation: shadow 0.5s linear infinite;
}

.loader:after {
  content: '';
  width: 100%;
  height: 100%;
  background: #f77307;
  animation: bxSpin 0.5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
}
@keyframes bxSpin {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow {
  0%,
  100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1);
  }
}

/* ------------------------------------------ */

.btn-add {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: #f77307;
  padding: 8px 16px;
  width: 150px;
  border-color: transparent;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  margin-top: 35px;
  margin-bottom: 40px;
}
.btn-add:hover,
.btn-add:focus {
  color: #000;
}

.is-hidden {
  display: none;
}
.load-btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 125px;
  background: #4e75ff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-color: transparent;
  outline-offset: 4px;
  margin-top: 32px;

  transition: background 300ms ease-in-out;
}

.load-btn:hover {
  background: #6c8cff;
}
.btn-container {
  display: flex;
  justify-content: center;
}
